  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto Condensed', sans-serif;
  }

  .title {
      color: rgb(255, 115, 0);
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 20px auto 20px;
  }

  .p-text {
      color: rgb(255, 115, 0);
      font-size: 18px;
      font-weight: 500;
  }

  input[type="text"] {
      transition: width 0.5s ease-in-out;
  }

  input[type="text"]:focus {
      width: 100%;
  }

  .input {
      color: rgb(255, 115, 0);
      font-size: 18px;
      font-weight: 500;
      outline: none;
      border: 3px solid orange;
      border-radius: 10px;
      min-width: 100%;
  }

  .btn {
      background-color: transparent;
      color: orange;
      font-size: 10px;
      font-weight: 500;
      outline: none;
      border-radius: 10px;
  }

  /* input[type="text"] {
      background-color: black;
      color: white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      display: flex;
      justify-content: space-between;
  } */

  /* input[type="text"]:focus {
      background-color: transparent;
      color: black;
      border-bottom: 1px solid orange;
  } */